@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Navbar */

.nav_container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 350px;
    border-bottom: 0.5px solid gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.Logo {
    width: 100px;
    height: 5vh;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 4%;
}

.nav_menu:hover {
    text-decoration: underline;
}

.nav_login {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav_btn1 {
    width: 80px;
    height: 5vh;
    background: #EB6914;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 4%;
}

.nav_btn2 {
    width: 80px;
    height: 5vh;
    background: #0071BC;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 4%;
}

/* header section */


.header_container {
    width: 100%;
    height: 85vh;
    /* border: 1px solid black; */
    display: flex;
    border-bottom: 0.5px solid gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.box1 {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.content1 {
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 54px;
    font-weight: bolder;
    letter-spacing: 4%;
    /* border: 1px solid black; */
}
.content1>p{
    margin: 0;
}

.green_text {
    color: #EB6914;

}

.content2 {
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 34px;
    letter-spacing: 4%;
    /* border: 1px solid black; */

}

.content3 {
    margin-left: 20px;
    height: 12vh;
    /* border: 1px solid black; */
    display: flex;
    gap: 30px;
    align-items: center;
}

.header_btn1 {
    width: 200px;
    height: 8vh;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4%;
    border: none;
    color: white;
    background: #EB6914;


}

.header_btn2 {
    width: 200px;
    height: 8vh;
    border-radius: 10px;
    background: #0071BC;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4%;
    color: white;
}

.box2 {
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
}

.header_img {
    height: 85vh;
    margin-right: 20px;
    display: flex;
}

.header_img>img {
    width: 100%;
    height: 85vh;
    object-fit: fill;

}

/* Hero-section */

.hero_container {
    width: 100%;
    height: 60vh;
    border-bottom: 0.5px solid gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.hero_box3 {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.sub_heading {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 4%;
    margin-top: 10px;
}

.sub_text {
    color: black;
font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 4%;
    line-height: 28px;
    margin-bottom: 10px;

}

.sub_heading>p {
    margin: 0;
}

.sub_text>p {
    margin: 0;
}

.hero_box4 {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;


}

.hero_card {
    width: 180px;
    height: 30vh;
    border: 0.5px solid rgba(204, 204, 204, 0.61);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.hero_card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.hero_icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color:#0071bc8e;
    margin-left: 10px;
}

.hero_icon:hover {
    background-color:#eb6a1499;
}

.Sub_heading1 {
font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.sub_text1 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    font-weight: lighter;
}


/* How it works */

.How_itworks_container {
    width: 100%;
    height: 60vh;
    border-bottom: 0.5px solid gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description_box5 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_box5>p {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 4%;
   font-family: "Roboto", sans-serif;
}

.description_box6 {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description_card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.sub_heading2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.sub_heading2>p {
    margin: 0;
}

.sub_text2 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 4%;
    line-height: 28px;
    margin-bottom: 10px;

}

.sub_text2>p {
    margin: 0;
}

.serial_no {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #dbe8de;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.serial_no>p {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    background: #d5e5d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.serial_no::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: rgba(219, 232, 222, 0.4);
    border-radius: 50%;
    z-index: -1;
}


/* Footer */


.footer_container{
  width:100;
  height: 50vh;
  /* border-bottom: 0.5px solid gray; */
}
.footer_box1{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: px;
}
.footer_card{
    width:20%;
    height: 30vh;
    font-family: "Roboto", sans-serif;
}
.footer_logo{
    width: 40%;
    height: 5vh;
    margin: 0;
}
.footer_box2{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 900px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}
.logo_description{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 4%;
    font-weight:lighter;
}
.footer_headings{
    font-weight: bold;
    color: #0071BC;
}
