.profile_picture{
    width:70px;
    height:70px;
    border-radius:16px;
    background:#EAF4FD;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
}
.icon_symbol{
    width:70px;
    height:70px;
    border-radius:16px;
    background:#EAF4FD;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
}
.profilecard{
    width:45%;
    background:#fff;
    border:none;
    border-radius:20px;
    padding:35px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}
 .details{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:5px;
  
}

.details h3{
    font-size:24px;
    margin: 0;
}

.details p{
    font-size:16px;
    margin: 0;
}