*{
    padding: 0;
    margin: 0;
}
.main_container{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content:center;
    gap: 5px;

}
.main_container2{
    width: 12%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    gap: 25px;
    flex-direction: column;
background: #FAFAFC;   

}
.logo{
    width: 100%;
    height: 5vh;
    border: 1px solid black;
}
.menu{
 width: 100%;
 height: 25vh;
 display: flex;
 flex-direction: column;
justify-content: space-around;
}

.main_container3{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container1,.container6{
    width: 100%;
    height: 5vh;
     display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}
.container2,.container7{
    width:25%;
    height:10vh;
    /* border: 1px solid green; */
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container3{
    width: 100%;
    height: 20vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    line-height:0.5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  
}
.profile_picture{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 20px;
}
.icon_symbol{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 20px;
}
.card1{
    width:45%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.Card2{
    width:45%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.container4{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}
.container4>h4{
    padding-right:1200px
}

.job_details{
    width: 95%;
    height: 15vh;
    display: flex;
    justify-content:center;
    gap:400px;
    border: 1px solid black;
        border-radius: 15px;

    align-items: center;
    
}
.job_details>button{
    width:100px ;
    height: 5vh;
}
.work_details{
    width: 20%;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.container5{
    width: 100%;
    height: 40vh;
    border: 1px solid black;
        border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.job_notify{
     width: 95%;
    height: 15vh;
    display: flex;
    justify-content: center;
    gap:350px;
    border: 1px solid black;
        border-radius: 15px;
     align-items: center;
}

.btn>button{
    width: 80px;
    height: 5vh;
    
}
.btn{
    display: flex;
    gap: 10px;
}
.container5>h4{
    padding-right:1190px
}


.container8{
     width: 100%;
    height: 20vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    gap: 10px;
    line-height:0.5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.card3,.card4,.card5{
  width:25%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
     align-items: center;
    gap: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.icon_picture{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
} 

.container9{
    width: 100%;
    height: 55vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.work_notification{
    width: 45%;
    height: 55vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.work_notification>h4{
    padding-right: 450px;
}


.recent_job,.recent_worker{
    width: 90%;
    height: 50vh;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    overflow-y: auto;
    gap: 5px;
}
.recent_job::-webkit-scrollbar{
    display: none;
}
.recent_::-webkit-scrollbar{
    display: none;
}
.work_post{
    width:90%;
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items:center;
    border-radius: 10px;
}
.working_details{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.worker_application{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applicants_notification{
    width: 45%;
    height: 55vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_details{
    width: auto;
    display: flex;
    gap: 10px;


}

.user_profile{
   width:90%;
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    gap: 150px;
    align-items:center;
    border-radius: 10px;   
}
.user_profile_picture{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;    
}

